html {
	box-sizing: border-box;
	vertical-align: baseline;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: gray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	letter-spacing: .02em;
}

div {
	/*border: 1px solid gray;*/
}
.content {
	width: 60%;
	padding: 0.938rem;
	display: block;
	margin: 0 auto;
	min-width: 37.5rem;
}

/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.top-navigation .content {
	width: 100%;
	min-width: 37.5rem;
	max-width: 60%;
	height: 70px;
	margin: 0 auto;
	padding: 0px 1rem;
	box-sizing: border-box;
}
.top-navigation .content .logo {
	height: 4.375rem;
}
.top-navigation .content .links {
	float: right;
	color: #838994;
	font-size: 1.08rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

.top-navigation .content .links > li {
	display: inline-block;
	padding: .5rem;
	list-style: none;
}
.top-navigation .content .links .active {
	color: #f15b2a;
	font-weight: 500;
}
.top-navigation .content .links .login {
	color: #fff;
	font-weight: 500;
    padding: .6rem 1rem; 
    margin-left: 1.2rem;
    background: #838994;
    border-radius: .5rem;
}

/*Navigation Link Action Properties*/

.top-navigation .content .links .active:hover {
	color: #ffb039;
	transition: all 0.6s ease 0s;
	cursor: pointer;
}
.top-navigation .content .links .other-links:hover {
	color: #ffb039;
	text-shadow: 0rem 0rem 1rem white;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.top-navigation .content .links .login:hover {
	color: #fff;
	text-shadow: 0rem 0rem 1rem white;
	background: #ffb039;
	transition: all 0.25s ease 0s;
	cursor: pointer;
}

/* Introduction Section */

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	background-position: bottom;
}

.introduction .content h1,
.introduction .content h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction .content h1 {
	margin-top: 15.5rem;
	font-size: 3.125rem;
}
.introduction .content h3 {
	margin-top: -1rem;
	padding-top: -.5rem;
	font-size: 1.563rem;
}
.introduction .content .buttons {
	font-size: 1.2em;
}
.buttons {
	background-color: rgb(241, 90, 41);
	border-radius: .35rem;
	letter-spacing: .03rem;
	color: white;
	text-align: center;
	text-shadow: none;
	display: block;
	margin: 0 auto;
	margin-top: 1.563rem;
	margin-bottom: 1.563rem;
	width: 10rem;
	text-shadow: none;
	border-style: none;
	padding: 1rem 1.5rem;
}
.buttons:hover {
	background: #ffb039;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

/* Three Cases Section */

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}
.cases .content {
    margin-top: 5rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cases .devices li {
    width: 33.3333333%;
    float:left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}


/*div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	display: block;
}*/

h1 {
	-webkit-margin: 0.83em;
	display: block;
}
h2 {
	-webkit-margin: 1em;
	display: block;
}
h3 {
	-webkit-margin: 1em;
	display: block;
}

/*text-shadow: .2rem .2rem .4rem #838994;*/