body {
	background-color: LightGray;
}

div {
	border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 100%;
	min-width: 37.5rem;
	max-width: 60%;
	height: 70px;
	margin: 0 auto;
	padding: 0px 1rem;
	box-sizing: border-box;
}
.top-navigation > .content > .logo {
	height: 4.375rem;
}
.top-navigation > .content > .links {
	float: right;
	color: #838994;
	font-size: 1.08rem;
	margin-top: 1rem;
}

.top-navigation > .content > .links > li {
	display: inline-block;
	padding: 1rem;
	list-style: none;
}