html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
	letter-spacing: .03em;
}

div {
	border: 1px solid gray;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 100%;
	min-width: 37.5rem;
	max-width: 60%;
	height: 70px;
	margin: 0 auto;
	padding: 0px 1rem;
	box-sizing: border-box;
}
.top-navigation > .content > .logo {
	height: 4.375rem;
}
.top-navigation > .content > .links {
	float: right;
	color: #838994;
	font-size: 1.08rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

.top-navigation > .content > .links > li {
	display: inline-block;
	padding: 1rem;
	list-style: none;
}
.top-navigation > .content > .links > .active {
	color: #f15b2a;
	font-weight: 600;
}
.top-navigation > .content > .links > .login {
	color: #fff;
	font-weight: 500;
    padding: .6rem 1rem; 
    margin-left: 1.2rem;
    background: #838994;
    border-radius: .5rem;
}

/*Navigation Link Action Properties*/

.top-navigation > .content > .links > .other-links:hover {
	color: #f15b2a;
	text-shadow: 0rem 0rem 1rem white;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
.top-navigation > .content > .links > .active:hover {
	color: #838994;
	transition: all 0.6s ease 0s;
	cursor: pointer;
}
.top-navigation > .content > .links > .login:hover {
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
	color: #fff;
	text-shadow: 0rem 0rem 1rem white;
	background: #ffb039;
	transition: all 0.25s ease 0.1s;
	cursor: pointer;
}
.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
}

.introduction .content h1,
.introduction .content h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction .content h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
.introduction .content h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
.introduction .content .buttons {
	background-color: rgb(241, 90, 41);
	border-radius: 4px;
	color: white;
	text-align: center;
	margin-top: 1.563rem;
	width: 49%;
	box-sizing: border-box;
	}
.content {
	width: 60%;
	padding: 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
div {
	display: block;
}
h1 {
	-webkit-margin: 0.83em;
	display: block;
}
h3 {
	-webkit-margin: 1em;
	display: block;
}
/*text-shadow: .2rem .2rem .4rem #838994;*/